
@{
    ViewData["Title"] = "Product";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post">
        <table class="table-condensed">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="Name" /> </td>
            </tr>

            <tr>
                <td>Price:</td>
                <td><input type="text" name="Price" /></td>
            </tr>

            <tr>
                <td>Quantity:</td>
                <td><input type="number" name="Quantity" /></td>
            </tr>

            <tr>
                <td>Description:</td>
                <td><input type="text" name="Description" /></td>
            </tr>

            <tr>
                <td>ImagePath:</td>
                <td><input type="text" name="ImagePath" /></td>
            </tr>

            <tr>
                <td>Category:</td>
                <td><input type="text" name="SubCategory" /></td>
            </tr>

            <tr>
                <td><input type="submit" value="Submit" /> </td>
            </tr>

        </table>
    </form>
</body>
</html>

