@import "reset.scss";

body{
    background-color: #343434;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 5% 3% 5% 3%;

    & .cat {
        width: 15%;
        min-width: 15%;
        height: auto;

        & .maincat {
            font-size: 22px;

            & .subcat {
                font-size: 18px;
                margin-left: 20px;
            }
        }


    }



    & .products-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        min-height: 100%;


        & .product {
            width: 200px /*15%*/;
            height: 250px /*30%*/;
            margin-right: 5%;
            margin-bottom: 5%;

            & .image {
                width: 100%;
            }
        }
    }
}

#c1 {
    display: block;

    &:hover + #s1 {
        font-size: 18px;
        display: block;
    }
}

#s1 {
    display: none;
}
    



