@import "reset.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

body {
    font-family: 'Lato', sans-serif;
    //background-color: #343434; was dark
    background-color: #e2dedb; // now light
    //color: #b3aca7;
    color: #413c38;
}

input, button {
    color: black;
}

.wrapper-row {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    /*min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 5% 3% 5% 3%;*/
    & .cat {
        width: 15%;
        min-width: 15%;
        height: auto;
        margin-right: 5%;

        & .maincat {
            display: block;
            font-size: 22px;
            padding: 5px 5px;
            margin-bottom: 10px;
            /*border-style: solid;
            border-color: darkmagenta;
            border-width: 4px;*/
            & .subcat, .subcat-show {
                font-size: 18px;
                margin-left: 20px;

                & a:visited, a:link {
                    color: white;
                }

                &-name {
                    border: none;
                    background-color: none;
                    background: none;
                }
            }

            & .subcat {
                display: none;
            }

            & .subcat-show {
                display: block;
            }
        }

        & .filter {
            & .currency_sign {
            }
        }
    }


    & .wrapper-column {
        display: flex;
        flex-direction: column;

        & .topbar {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 20px;
            margin-right: 40px;

            & .search {
                font-family: 'Lato', sans-serif;
                font-size: 0.875em;

                width: 470px;
                height: 40px;

                padding-left: 10px;

                background-color: white;
                outline: none;
                border: solid 1px #b3aca7;
                border-radius: 15px;
            }

            & .sort {
                background-color: transparent;
            }
        }


        & .products-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-right: 20px;
            height: 100%;
            min-height: 100%;
            justify-content: space-between;

            & .product {
                width: 200px /*15%*/;
                height: 250px /*30%*/;
                margin-right: 15px;
                margin-bottom: 5%;

                &-name {
                    font-size: 18px;
                    min-height: 20px;
                    max-height: 25px;
                    max-width: 200px;
                    //overflow: hidden;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-bottom: 10px;
                }

                & .image {
                    width: 100%;
                }
            }

            & .pages {
                display: flex;
                margin: 0 auto;
                width: 100%;

                & .page-button {
                    width: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}

    



