@import "reset.scss";

body{
    background-color: #343434;
    color: white;
}

input, button {
    color:black;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    height: 100%;
    width: 100%;
    padding: 5% 3% 5% 3%;

    & .cat {
        width: 15%;
        min-width: 15%;
        height: auto;
        margin-right: 5%;

        & .maincat {
            display: block;
            font-size: 22px;
            padding: 5px 5px;
            margin-bottom: 10px;
            border-style: solid;
            border-color: darkmagenta;
            border-width: 4px;

            & .subcat, .subcat-show {
                font-size: 18px;
                margin-left: 20px;

                & a:visited, a:link {
                    color: white;
                }

                &-name {
                    border: none;
                    background-color: none;
                    background: none;
                }
            }

            & .subcat {
                display: none;
            }

            & .subcat-show {
                display: block;
            }
        }

        & .filter {
        }
    }



    & .products-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        min-height: 100%;


        & .product {
            width: 200px /*15%*/;
            height: 250px /*30%*/;
            margin-right: 5%;
            margin-bottom: 5%;

            &-name {
                font-size: 18px;
                max-height: 18px;
            }

            & .image {
                width: 100%;
            }
        }

        & .pages {
            display: flex;
            margin: 0 auto;
            & .page-button {
                width: 20px;
                margin-right: 5px;
            }
        }
    }
}

    



