
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

    <form method="post" class="form-horizontal" role="form">

        <table class="table-condensed">
            <tr>
                <td>Login:</td>
                <td><input type="text" name="Login" /> </td>
            </tr>

            <tr>
                <td>Password:</td>
                <td><input type="password" name="Password" /></td>
            </tr>

            <tr>
                <td>Retype password:</td>
                <td><input type="password" name="RPassword" /></td>
            </tr>

            <tr>
                <td><input type="submit" value="Submit" /> </td>
            </tr>

        </table>
    </form>

</body>
</html>

