@{
    Layout = "_Layout";
}

@model MVCTest.Models.Product.Product

<!DOCTYPE html>
<html>
<head>
    <title>Order</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <form method="post" class="form-horizontal" role="form">
        <input type="hidden" value="@Model.Id" name="ProductId" />
        <div class="products-container">
            <p>@Model.Name <br /></p>
            <img src="@Model.ImagePath"
                 width="250"
                 height="200" />
            <p><br />Quantity: <input type="text" name="Quantity" /> </p>

            @*<p><input class="default-button" type="submit" value="Submit" /> </p>*@
            <p class="default-button"><button type="submit" class="default-button">Submit</button></p>
            
        </div>
    </form>
</body>
</html>

