
@*@model IEnumerable<MVCTest.Models.Product.Product>*@

@*@model IEnumerable<MVCTest.Models.Product.OrderItem>*@

@{
    ViewData["Title"] = "Buy a lot of goods!";
    Layout = "_Layout";
}


<!DOCTYPE html>
<html>
<head>
    <title>Buy a lot of goods!</title>
</head>
<body>
    <h3>Products</h3>
    <table class="table-condensed">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td></td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td><a href="~/Home/Buy/@item.Id">Buy</a></td>
            </tr>
        }
    </table>
</body>
</html>
