
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Success!</title>
</head>
<body>
    <p>You have successfully bought a @ViewBag.ProductName, @ViewBag.ProductQuantity pcs.</p>
</body>
</html>

