
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Success!</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <p>You have successfully added item to the cart.</p>
</body>
</html>

